<div class="row">
  <div class="large-10 columns">
    <fieldset>
      <%= form_for @anime do |f| %>
        <legend>Add Anime</legend>
        <div class="row">
          <div class="large-12 columns">
          	<%= f.label :title %>
          	<%= f.text_field :title %>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
          	<%= f.label :summary %>
          	<%= f.text_area :summary %>
          </div>
          <div class="large-6 columns">
          	<%= f.label :episodes %>
          	<%= f.text_field :episodes %>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">

            <label for="status">Status:</label>
              <% [ 'ongoing', 'finished' ].each do |status| %>
                <br><%= radio_button_tag 'status', status, @status == status %>
                <%= status.humanize %>
              <% end %>

          </div>
          <div class="large-6 columns">
            <label for="genre">Genres:</label>

              <%= f.select :genre_id, Genre.all.collect{ |c| [c.name, c.id ]}, {:multiple=>true} %>
          </div>
          <%= f.submit "ADD", class: "button tiny expand" %>
        </div>

      <% end %>
    </fieldset>
  </div>
</div>