<div class="row">
  <div class="large-10 columns">
    <fieldset>
      <%= form_for @anime do |f| %>
        <legend>Add Anime</legend>
        <div class="row">
          <div class="large-12 columns">
          	<%= f.label :title %>
          	<%= f.text_field :title %>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
          	<%= f.label :summary %>
          	<%= f.text_area :summary %>
          </div>
          <div class="large-6 columns">
          	<%= f.label :episodes %>
          	<%= f.text_field :episodes %>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <%= f.label :status %>
              <% [ 'ongoing', 'finished' ].each do |status| %>
                <br><%= radio_button_tag 'status', status, @status == status %>
                <%= status.humanize %>
              <% end %>
          </div>
          <div class="large-6 columns">
            <%= f.label :genre_id %>
          <% for genre in Genre.find(:all) %>
            <div>
              <%= check_box_tag "anime[genre_ids][]", genre.id, @anime.genres.include?(genre) %>
              <%= genre.name %>
            </div>
          <% end %>
          </div>
          <%= f.submit "ADD", class: "button tiny expand" %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>